#Задание 3. Вычисления

##Задача «Последняя цифра числа»

In [ ]:
n = input()
print(list(n)[-1])

1621684
4

##Задача «МКАД»

In [ ]:
velocity = int(input())
time = int(input())
length = 109

print(velocity*time % length)

110
5
5

##Задача «Дробная часть»

In [ ]:
n = float(input())

print(round((n - n // 1) * 1000)/1000) # плавающая точка

##Задача «Первая цифра после точки»

In [ ]:
n = input()
print(list(n.split('.')[-1])[0])

287.915
9

##Задача «Автопробег»

In [ ]:
from math import ceil

perDay = int(input())
total = int(input())

print(ceil(total/perDay))

90
100
2

##Задача «Стоимость покупки»

In [ ]:
rubles = int(input())
kopecks = int(input())/100
quantity = int(input())

perProduct = rubles + kopecks
sum = quantity * perProduct

print(int(sum // 1), round((sum - sum // 1)*100))

10
15
8
81 20

##Задача «Разность времен»

In [ ]:
hour1 = int(input())
min1 = int(input())
sec1 = int(input())
hour2 = int(input())
min2 = int(input())
sec2 = int(input())

fullTime1 = hour1*60*60 + min1*60 + sec1
fullTime2 = hour2*60*60 + min2*60 + sec2

6
2
30
7
3
40
3670

##Задача «Улитка»

In [ ]:
total = int(input())
ascend = int(input())
descend = int(input())
day = 1
height = 0

while (height <= total):
    height = height + ascend

    if (height >= total):
        break
    else:
        height = height - descend
        day += 1

print(day)

10
3
2
8

##Задача «Число десятков»

In [ ]:
from math import floor

print(floor(int(input())/10))

1234
123

Комментарий преподавателя: "нужно вывести цифру в десятках, а не отбросить единицы". Я так и не понял, что значит "вывести цифру в десятках")

##Задача «Сумма цифр»

In [ ]:
digits = input()

print(sum(map(int, list(digits))))

91002
12

##Задача «Гипотенуза»

In [ ]:
from math import sqrt

cathetus1 = int(input())
cathetus2 = int(input())

print(sqrt(cathetus1**2 + cathetus2**2))

5
12
13.0

##Задача «Часы - 1»

In [ ]:
hours = int(input())
mins = int(input())
secs = int(input())
total = 12*60*60

deg = (hours*60*60 + mins*60 + secs) * 360 / total

print(deg)

0
30
0
15.0

##Задача «Часы - 2»

Не хватило математической смекалки

##Задача «Часы - 3»

In [ ]:
from math import floor

deg = float(input())
total = 12*60*60

time = total*deg/360

hours = floor(time/60/60)
mins = floor((time - hours*60*60)/60)
secs = int(time - hours*60*60 - mins*60)

print(hours, mins, secs)

31.05
1 2 6