#Задание 2. Условия

##Задача «Минимум из двух чисел»

In [ ]:
a = int(input())
b = int(input())

if (a < b):
    print(a)
else:
    print(b)

-200
512
-200

##Задача «Знак числа»

In [ ]:
a = int(input())

if (a > 0):
    print('1')
elif (a < 0):
    print('-1')
else:
    print('0')

42
1

##Задача «Шахматная доска»

In [ ]:
col1 = int(input('Колонка 1\n'))
row1 = int(input('Строка 1\n'))
col2 = int(input('Колонка 2\n'))
row2 = int(input('Строка 2\n'))

def isBlack(row, col):
    if (row % 2 == 0):       # если строка чётная
        if (col % 2 == 0):   # и колонка чётная
            return False     # то клетка белая
        else:
            return True      # иначе клетка чёрная
    else:                    # а если строка нечётная
        if (col % 2 == 0):   # и колонка чётная
            return True      # то клетка чёрная
        else:
            return False     # иначе клетка белая

if (isBlack(row1, col1) == isBlack(row2, col2)):
    print('YES')
else:
    print('NO')

Колонка 1
7
Строка 1
2
Колонка 2
2
Строка 2
3
YES

##Задача «Високосный год»

In [ ]:
year = int(input())

if (((year % 4 == 0) and (year % 100 != 0)) or (year % 400 == 0)):
    print('YES')
else:
    print('NO')

2000
YES

##Задача «Минимум из трех чисел»

In [ ]:
a = int(input())
b = int(input())
c = int(input())

if ((a <= b) and (a <= c)):
    print(a)
elif ((b <= c) and (b <= a)):
    print(b)
else:
    print(c)

3
3
6
3

##Задача «Сколько совпадает чисел»

In [ ]:
a = int(input())
b = int(input())
c = int(input())

if ((a == b) or (a == c) or (b == c)):
    if (a == b == c):
        print('3')
    else:
        print('2')
else:
    print('0')

9
555
555
2

##Задача «Ход ладьи»
Полагаю, автор допустил ошибку и назвал слона ладьёй, потому что в тестах описаны ходы слона. Я всё равно сделал для ладьи, потому что слон будет позже.

In [ ]:
col1 = int(input('Колонка 1\n'))
row1 = int(input('Строка 1\n'))
col2 = int(input('Колонка 2\n'))
row2 = int(input('Строка 2\n'))

if (col1 - row1 == col2 - row2):
    print('YES')
else:
    print('NO')

Колонка 1
1
Строка 1
3
Колонка 2
5
Строка 2
7
YES

##Задача «Ход короля»

In [ ]:
col1 = int(input('Колонка 1\n'))
row1 = int(input('Строка 1\n'))
col2 = int(input('Колонка 2\n'))
row2 = int(input('Строка 2\n'))

if ((abs(col1-col2) <= 1) and (abs(row1-row2) <= 1)):
    print('YES')
else:
    print('NO')

Колонка 1
1
Строка 1
7
Колонка 2
1
Строка 2
8
YES

##Задача «Ход слона»

In [ ]:
col1 = int(input('Колонка 1\n'))
row1 = int(input('Строка 1\n'))
col2 = int(input('Колонка 2\n'))
row2 = int(input('Строка 2\n'))

if ((col1 == col2) or (row1 == row2)):
    print('YES')
else:
    print('NO')

Колонка 1
4
Строка 1
4
Колонка 2
8
Строка 2
4
YES

##Задача «Ход ферзя»

In [ ]:
col1 = int(input('Колонка 1\n'))
row1 = int(input('Строка 1\n'))
col2 = int(input('Колонка 2\n'))
row2 = int(input('Строка 2\n'))

if ((col1 == col2) or (row1 == row2)):
    print('YES')
elif (col1 - row1 == col2 - row2):
    print('YES')
else:
    print('NO')

##Задача «Ход коня»

In [ ]:
col1 = int(input('Колонка 1\n'))
row1 = int(input('Строка 1\n'))
col2 = int(input('Колонка 2\n'))
row2 = int(input('Строка 2\n'))

if (abs(col1-col2) == 1) and (abs(row1-row2) == 2):
    print('YES')
elif (abs(row1-row2) == 1) and (abs(col1-col2) == 2):
    print('YES')
else:
    print('NO')

Колонка 1
5
Строка 1
1
Колонка 2
4
Строка 2
3
YES

##Задача «Шоколадка»

In [ ]:
width = int(input())
height = int(input())
pieces = int(input())

if (((pieces % width == 0) or (pieces % height == 0)) and (pieces < height*width)):
    print('YES')
else:
    print('NO')

4
8
12
YES

##Задача «Яша плавает в бассейне»
Я поленился...